{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            <strong>Contato</strong>
                        </h2>
                        <hr>
                    </div>
                    <div class="col-md-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m11!1m3!1d994.5741985414535!2d-47.79848256143842!3d-15.784076046064444!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-BR!2sbr!4v1479261394318" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4">
                        <p>Telefone:
                            <strong>61 99625-5155</strong>
                        </p>
                        <p>Email:
                            <strong><a href="mailto:docealho@gmail.com">docealho@gmail.com</a></strong>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% include 'core/contact_form.html' %}
        </div>


        <!-- /.container -->
{% endblock content %}