{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Contato</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <img style="margin-bottom: 10px" class='img-logo' border="0" src="static/core/images/logo.png">
                </div>
                <div class="col-md-12">
                    <p style="text-align: center">Telefone:
                        <strong>61 99625-5155</strong>
                    </p>
                    <p style="text-align: center">Email:
                        <strong><a href="mailto:docealho@gmail.com">docealho@gmail.com</a></strong>
                    </p>
                    <p style="text-align: center">Instagram:
                        <strong><a href="https://www.instagram.com/docealho/" target="instagram"><img border="0"
                                                                                                              style="margin-right: 5px"
                                                                                                              src="static/core/images/Instagram_Icon_inverted.svg"
                                                                                                              width="25"
                                                                                                              height="25">Docealho</a></strong>
                    </p>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
            {% include 'core/contact_form.html' %}
        </div>


        <!-- /.container -->
{% endblock content %}